apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: final-project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
      tier: backend
      component: api
  template:
    metadata:
      labels:
        app: backend
        tier: backend
        component: api
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox
          command:
            - sh
            - -c
            - until nc -z postgres 5432; do echo waiting for db; sleep 5; done
      containers:
        - name: backend
          image: 067970016113.dkr.ecr.us-east-1.amazonaws.com/backend:v1
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: backend-config
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10